$htaccess = @'
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /oficina-agentica-edtech/

RewriteRule ^api/ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule . index.html [L]
</IfModule>
'@

[System.IO.File]::WriteAllText("public-ready\.htaccess", $htaccess, (New-Object System.Text.UTF8Encoding($false)))